@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 

html {
	@apply w-full box-border h-full  scroll-smooth
}
body {
	@apply max-h-full min-h-full m-0	w-full min-w-full font-montserrat
}	
p {
	@apply text-[1.8rem] leading-[1.2]
}
span {
	@apply text-[1.2rem] leading-[1.4]
}
:root {
	font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;
	color: white;
  background-color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	width: 100%;
	min-height: 100vh;
}

button {
	@apply rounded-sm border-[1px] border-solid border-transparent py-[0.2rem] px-[0.8rem] transition-colors duration-200 relative text-[0.9rem] leading-[1]
}

button:focus,
button:focus-visible {
	outline: none;
}


